@model List<Part>

@{
    ViewBag.Title = "Parts";
}

@section ScriptSection {
    <script>
        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }

            function loadSortedPage() {
                var url = "/Parts/PartView";
                $("#divUpdatable").load(url);
            }


            $(document).ready(function () {
                $("#btnLoad").click(loadSortedPage);

                $("#btnClear").click(function () {
                    $("#divUpdatable").html("<h4>Load List</h4>");
                });
            });
        }

    </script>
}

<h2>Parts</h2>
<span style="color:red">@TempData["Msg"]</span>
<br />
<p>
    <a asp-controller="Parts" asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="Parts" asp-action="SortCatId">Sort by category</a>
</p>
<p>
    <a asp-controller="Parts" asp-action="PrintPart">Print Parts!</a>
</p>
@{
    // TODO P06 Task 1-2 Refer to MugOrder. Modify the display so that name of pokedex and usercode can be shown
}
<div class="col-6">
    <h3>Featuring Partial view!</h3>
    <div id="divUpdatable" style="border:double">
        <table class="table">
            <partial name="_PartPart"/>
        </table>
    </div>
</div>

